<div>
 <div class = main>
    <p>誰でも簡単に部屋を予約・貸し出し</p>
    <img src = "/assets/img_cover_top.jpg" >
 </div>
 <div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>